.card {
  position: relative;
  width: auto;
  max-width: 40rem;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: .5rem;
}

.description {
  font-size: 1.2rem;
  color: var(--text-color);
  background: var(--second-bg-color);
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: .5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--second-color);
}