.container {
  padding: 5.5rem 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  font-size: 4.2rem;
  margin-bottom: 5.5rem;
  font-weight: 700;
}

.title span {
  color: var(--main-color);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 130rem;
  padding: 2rem 0;
}

.projectContainer {
  position: relative;
  z-index: 1;
  transition: z-index 0.1s ease;
}

.projectContainer.activeContainer {
  z-index: 10;
}

/* .closeButton {
  position: absolute;
  bottom: -3rem;
  right: 0;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.closeButton:hover {
  background-color: var(--second-color);
} */

@media (max-width: 1200px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-gap: 4rem;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 4rem 5%;
  }
  
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 4%;
  }
  
  .title {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }
  
  .projects {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }
}

@media (max-width: 450px) {
  .projects {
    grid-gap: 3rem;
  }
}