.container {
  text-align: center;
  padding: 5.5rem 9%;
  background-color: var(--bg-color);
}

.title {
  font-size: 4.2rem;
  margin-bottom: 3rem;
}

.categorySection {
  margin-bottom: 4rem;
}

.categoryTitle {
  font-size: 2.8rem;
  color: var(--main-color);
  margin-bottom: 2.5rem;
  font-weight: 600;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  font-size: 1.8rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  /* background-color: var(--main-color); */
  color: var(--text-color);
  border-radius: 0.5rem;
  /* cursor: pointer; */
}

.icon {
  width: 6rem;
  height: 6rem;
  fill: white;
}