.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  background: var(--second-bg-color);
  padding: 5.5rem 9%;
}

.container h2 {
  font-size: 4.2rem;
  margin-bottom: 5.5rem;
}

.title span {
  color: var(--main-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  border: .1rem solid var(--main-color);
  border-radius: .5rem;
  background: var(--bg-color);
}

.contact {
  flex: 1;
  background: var(--main-color);
  padding: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info h4 {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* .whatsappButton {
  margin-left: auto;
  margin-right: auto;
} */
.whatsappButton {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: #25D366;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsappButton:hover {
  background-color: #128C7E;
}

.icons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.icons i {
  margin-bottom: 0.5rem;
}

.socialIcons {
  text-align: center;
}

/* .form {
  flex: 2;
  padding: 2rem;
}

.form input,
.form textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.sendButton {
  align-self: flex-end;
} */

.form {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: flex-start;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

.form input,
.form textarea {
  width: 100%;
  margin-bottom: 10px;
}

.form .inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form .inputGroup input {
  flex: 1;
  margin-right: 10px;
}

.form textarea {
  height: 100px;
}

.sendButton {
  align-self: flex-end;
}
