.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--second-bg-color);
  padding: 5.5rem 9%;
}

.container h2 {
  font-size: 4.2rem;
  margin-bottom: 5.5rem;
}

.title span {
  color: var(--main-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  border: .1rem solid var(--main-color);
  border-radius: .5rem;
  background: var(--bg-color);
}

.contact {
  flex: 1;
  background: var(--main-color);
  padding: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.whatsappButton {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: #1BD439;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: .5rem;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsappButton:hover {
  background-color: #25D366;
}

.icons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.iconItem {
  display: flex;
  align-items: center;
}

.iconItem span {
  font-size: 1.1rem;
  padding-left: .5rem;
}

.icons i {
  margin-bottom: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: linear-gradient(to right, var(--bg-color) 50%, var(--text-color) 50%);
  background-size: 200% 100%;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  /* cursor: pointer; */
  transition: background-position 0.3s;
}

.socialIcons {
  text-align: center;
}

.socialIcons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: linear-gradient(to right, var(--bg-color) 50%, var(--text-color) 50%);
  background-size: 200% 100%;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
  transition: background-position 0.3s;
}

.socialIcons i:hover {
  background-position: -100% 0;
  color: var(--bg-color);
  border: .2rem solid var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  border-radius: .5rem;
  padding: 2rem;
}

.form input,
.form textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.form .inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form .inputGroup input {
  flex: 1;
}

.form .inputGroup input:first-child {
  margin-right: 0.5rem;
}

.form .inputGroup input:last-child {
  margin-left: 0.5rem;
}

.form textarea {
  height: 100%;
}

.sendButton {
  align-self: flex-end;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.sendButton:hover {
  background-color: var(--second-color);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .form textarea {
    height: 10rem;
  }
}