.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  padding: 1rem 9%;
  background: var(--dark-color);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.copy p {
  text-align: right;
  font-size: 1.4rem;
  color: #999999;
}
